@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.sidebar-icon {
		@apply relative flex items-center justify-center overflow-hidden 
      h-12 w-12 mt-2 mb-2 mx-auto  
	  bg-gray-900
      hover:rounded-xl rounded-3xl
      transition-all duration-150 ease-linear
      cursor-pointer shadow-lg;
	}

	.sidebar-tooltip {
		@apply absolute w-auto p-2 m-2 min-w-max rounded-md left-[70px] shadow-md
      text-white bg-gray-900 
      transition-all duration-100 scale-0 origin-left font-ggSemibold text-sm z-50;
	}

	.sidebar-hr {
		@apply bg-gray-200 dark:bg-gray-800 
      border border-gray-200 dark:border-gray-800 rounded-full
      mx-2;
	}

	.active {
		@apply rounded-xl;
	}
	.active-no-img {
		@apply bg-sky-600 text-white rounded-xl;
	}
}

.transparent-scrollbar {
	scrollbar-color: transparent transparent;
	scrollbar-width: thin;
}

.text-rendering {
	text-rendering: optimizeLegibility;
}

.transform-style-3d {
	transform-style: preserve-3d;
}

.translate-z-0 {
	transform: translateZ(0);
}

@font-face {
	font-family: "GGSansNormal";
	src: url("../fonts/gg_sans_Normal.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GGSansNormalItalic";
	src: url("../fonts/gg_sans_Normal_Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "GGSansMedium";
	src: url("../fonts/gg_sans_Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GGSansMediumItalic";
	src: url("../fonts/gg_sans_Medium_Italic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "GGSansSemibold";
	src: url("../fonts/gg_sans_Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "GGSansBold";
	src: url("../fonts/gg_sans_Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "GGSansBoldItalic";
	src: url("../fonts/gg_sans_Bold_Italic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "GGSansExtrabold";
	src: url("../fonts/gg_sans_Extrabold.ttf") format("truetype");
	font-weight: bolder;
	font-style: normal;
}
